node_modules
public
cypress
*.svg
*.woff2
*.css
*.ico
next-env.d.ts
next.config.mjs
commitzenrc.js
tsconfig.json
commitzenrc.js
.huskyrc.json
.lintstagedrc.json
jest.config.js
coverage
.prettierrc.json
tailwind.config.js
postcss.config.js
_collection.json
