@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .menu-item {
    @apply text-primary-950 py-4 pl-10 hover:bg-white hover:text-white hover:bg-primary-300 font-semibold text-sm w-full flex gap-2;
  }


  .menu-item--active {
    @apply bg-primary-500 text-white;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    border-radius: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
    padding: 0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #18304D;
    border-radius: 10px;
    border: 4px solid #f0f0f0;
  }

  .board-list {
    @apply flex flex-col items-center border border-primary-950;
  }

  .board-list--header {
    @apply p-4 bg-primary-400 text-white text-2xl font-bold w-full text-center;
  } 

  .board-list--body {
    @apply p-5 bg-primary-50 w-full flex flex-col gap-2;
  }

  .board-card {
    @apply p-5 bg-white border border-primary-950 rounded-lg w-full flex flex-col gap-2 cursor-pointer max-w-60;
  }

  .board-card--header {
    @apply text-xs;
  }

  .board-card--body {
    @apply text-xl;
  }

  .board-card--footer {
    @apply text-xs flex items-center justify-between w-full;
  }

  .board-card--avatar {
    @apply p-2 bg-primary-200 rounded-full;
  }
}